.img-index__1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fondo__op {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(240, 248, 255, 0.486);
  opacity: 1;
  border: 0.1em solid black;
  margin: 2%;
}

.img-index__1 {
  align-items: center;
  width: auto;
  height: auto;
  padding: 15px;
  box-shadow: #000000;
}

.img-index__3 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.img-index__1bm {
  display: flex;
  border: 0.3em groove burlywood;
  border-radius: 3%;
  margin-left: 2%;
  width: 30%;
  height: auto;
  min-width: 280px;
}

.img-index__3bm {
  display: flex;
  width: auto;
  height: auto;
  border: 0.3em groove burlywood;
  border-radius: 3%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.texto-index1 {
  font-size: 130%;
  font-weight: bold;
  margin: 2% 2%;
  font-family: "Sansita", sans-serif;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  padding: 1%;
  color: #000000;
}

.texto-index2 {
  font-size: 130%;
  font-weight: bold;
  margin: 2% 2%;
  font-family: "Sansita", sans-serif;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  padding: 1%;
  color: #000000;
}

#footerMobile {
  display: none;
}

.banner-widht-index {
  width: 100%;
}

h2 {
  font-family: "Bona Nova", serif;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  text-decoration: underline;
}

p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
  font-family: "Sansita", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
  width: 100%;
}

.tabla-grid {
  display: flex;
  justify-content: center;
  font-size: 180%;
  font-weight: bold;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgba(240, 248, 255, 0.692);
  width: auto;
}

th {
  color: rgba(165, 120, 60, 0.856);
}

.banner-width {
  width: 100%;
  height: auto;
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  color: #000000;
}

.cardWidth:hover {
  transform: scale(1.1);
}

.cardWidth {
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  color: #000000;
  margin: 15px;
}

.comprar {
  width: 100%;
  background-color: rgba(41, 177, 41, 0.8);
  font-weight: bold;
  color: #444;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 0.5rem;
  transition: all 1s ease;
  box-shadow: 0.5rem 0.5rem 1rem #ccc, -0.5rem -0.5rem 1rem #fff;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comprar:hover {
  box-shadow: 0.5rem 0.5rem 1rem #fff, -0.5rem -0.5rem 1rem #ccc;
  outline: none;
  cursor: pointer;
  background-color: rgb(41, 177, 41);
}

.comprar:active {
  box-shadow: inset 0.5rem 0.5rem 1rem #fff, inset -0.2rem -0.2rem 1rem #ccc;
  outline: none;
}

.buttonCarrito {
  background-color: transparent;
  border: none;
  margin-left: 50px;
  margin-right: 20%;
}

.buttonStyle {
  background: transparent;
  border: none;
}

.buttonCart {
  background: transparent;
  border: none;
  border-radius: 118px;
  background: #a6a6a6;
  box-shadow: 9px -9px 17px #4e4e4e, -9px 9px 17px #fefefe;
}

.buttonCart:hover {
  box-shadow: 0.5rem 0.5rem 1rem #fff, -0.5rem -0.5rem 1rem #ccc;
  outline: none;
  cursor: pointer;
  color: #444;
  background-color: rgb(172, 172, 172);
  border-color: #000000;
}

.buttonCart:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.buttonCart:active {
  box-shadow: inset 0.5rem 0.5rem 1rem #fff, inset -0.2rem -0.2rem 1rem #ccc;
  outline: none;
  background-color: transparent;
  border-color: transparent;
}

.buttonCart::after {
  content: none;
}

.buttonCart:focus-within {
  background-color: transparent;
  border-color: none;
}

.btn-danger {
  color: black;
  background-color: rgba(255, 0, 0, 0.897);
}

.btn-danger:hover {
  background-color: rgba(255, 0, 0, 0.692);
}

#cartCount {
  color: rgb(5, 255, 5);
  margin-left: 10px;
}

.img-width {
  width: 50%;
}

.cartQuit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.486);
  opacity: 1;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  width: 100%;
}

.about-us__p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  font-size: 130%;
  padding: 40px;
  font-family: "Sansita", sans-serif;
  font-weight: bold;
  color: black;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  padding: 1%;
  margin: 20px;
}

.width-carrImg {
  width: 100%;
}

iframe {
  margin: 0;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  width: 50%;
  min-width: 300px;
  height: 30em;
}

.iframe-flex {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets-bazar/imagenes-mejoradas/fabrica-botella.jpg);
  transform-style: preserve-3d;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.div-left {
  width: 100%;
  margin-bottom: 55px;
}

.top-page {
  position: sticky;
  left: 1700px;
  bottom: 40px;
  margin-top: 300px;
}

.top-page__decoration {
  font-weight: bold;
  font-size: 25px;
  color: #f14235;
}

.button-mod {
  background-color: rgba(87, 114, 119, 0.562);
  margin: 10px;
}

.button-mod:hover {
  background-color: rgb(67, 70, 69);
}

.bannerGaleria {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.img-banner {
  width: 100%;
  box-shadow: 7px 7px 15px #592a08;
  margin: 20px;
}

.gallery {
  font-family: "Bona Nova", serif;
  text-align: center;
  padding-top: 60px;
  font-size: 40px;
  padding-bottom: 100px;
  text-shadow: 2px 2px #161414;
}

.barra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.barra__seleccion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  box-shadow: 7px 7px 15px #592a08;
  color: #fff;
  background: linear-gradient(45deg, grey, rgba(6, 6, 104, 0.8), black, rgb(153, 23, 23));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
  width: auto;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.barra__menu-color {
  display: flex;
  flex-direction: row;
}

.barra__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.barra__copas,
.barra__vasos,
.barra__chopps,
.barra__platos {
  font-size: 35px;
  font-weight: bold;
  padding: 35px;
  margin: auto;
  z-index: 190;
}

.galeria__grid-img:hover {
  transform: scale(1.1);
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  transition: all 0.6s;
}

.galeria__grid-img {
  background-color: rgba(240, 248, 255, 0.692);
  width: 15rem;
  border-radius: 10%;
  margin: 25px auto;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
}

.galeria__copas,
.galeria__vasos,
.galeria__chopps,
.galeria__platos {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 30px;
  margin: 5%;
  padding-top: 5%;
  width: 60%;
}

.galeria__img {
  width: 100%;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.map-size {
  width: 100%;
  height: 800px;
  border-radius: 6%;
  margin: auto 0 60px 0;
  padding: 0;
}

.map {
  padding: 0;
}

.form-adjust {
  border: 1px solid black;
  box-shadow: 7px 7px 15px #592a08;
  color: #fff;
  background: linear-gradient(45deg, grey, black);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.btn-bg {
  background-color: black;
}

.location-margin {
  margin-right: 5%;
}

h3 {
  font-family: "Sansita", sans-serif;
  text-align: center;
  padding-top: 5%;
  font-size: 300%;
  text-decoration: underline;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.774);
  margin-bottom: 45px;
  width: 100%;
}

.padding-form {
  padding: 15px;
}

.btn-decoration:hover {
  text-decoration: none;
  background-color: rgb(255, 105, 105);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.gradiente-header {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

h1 {
  text-align: center;
  font-family: 'Bona Nova', serif;
  font-weight: 90;
  font-size: 70px;
  color: aliceblue;
  margin-bottom: 0;
  text-shadow: 2px 2px #161414;
}

nav ul {
  font-family: sans-serif;
  font-size: 25px;
}

.nav-color {
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.nav-sticky {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 200;
}

.navMod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20px;
}

main {
  background: rgba(0, 0, 0, 0.4) url(../assets-bazar/imagenes-mejoradas/imagen-background.avif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.barra-redes {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 350px;
  z-index: 2000;
  margin-left: -70px;
}

.arrow {
  font-size: 35px;
  padding: 14px;
  animation-iteration-count: 8;
}

.barra-redes:hover {
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}

.barra-redesIcon {
  display: inline-block;
  color: #fff;
  background: #000000;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 25px;
  width: 100%;
}

.icon-face:hover {
  color: #3b5998;
}

.icon-mail:hover {
  color: grey;
}

.icon-whatsapp:hover {
  color: #25d366;
}

.barra-redes ul {
  list-style: none;
  padding: 0;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 7px 7px 15px #592a08;
}

a {
  text-decoration: none;
  color: rgb(184, 185, 184);
}

a:hover {
  color: rgba(145, 93, 93, 0.658);
  text-decoration: underline;
  transition: all 0.6s;
}

.activo {
  text-decoration: underline;
  color: rgba(240, 248, 255, 0.205);
}

footer {
  background-color: rgba(152, 157, 161, 0.966);
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  flex-direction: row;
  justify-content: space-evenly;
}

.insta,
.correo {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-decoration: none;
  font-size: 80px;
  color: rgba(184, 185, 184, 0.877);
}

.insta:hover,
.correo:hover {
  text-decoration: none;
}

.pie {
  margin-left: 10px;
}

#footerMobile {
  display: none;
}

.iframe-mobile {
  display: none;
}

.qsomos-mobile {
  display: none;
}

.menuRedesTablet {
  display: none;
}

.menuRedesTablet-galeria {
  display: none;
}

/* Mobile */
@media screen and (max-width: 320px) {
  nav {
    display: none;
  }
  .barra-redes {
    display: none;
  }
  .barra__copas,
.barra__vasos,
.barra__chopps,
.barra__platos {
    padding: 0%;
    margin: 20px;
  }
  .banner-widht-index {
    max-height: 120px;
  }
  .insta,
.correo {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .pie {
    display: flex;
    justify-content: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-us {
    margin: 0%;
    min-width: 250px;
  }
  .menuRedesTablet-galeria {
    display: initial;
    position: fixed;
    bottom: 40px;
    right: 735px;
    background-color: grey;
    border-radius: 50% !important;
  }
  .galeria__copas,
.galeria__vasos,
.galeria__chopps,
.galeria__platos {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 5%;
    width: 90%;
  }
  .barra__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .map-size {
    width: 100%;
    height: 25rem;
    border-radius: 6%;
    margin-bottom: 60px;
  }
  .width-carrImg {
    width: auto;
    margin: auto;
  }
  #barraMobile {
    display: grid;
  }
  .cardWidth {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .cardWidth:hover {
    transform: none;
  }
}
@media screen and (max-width: 820px) {
  .barra-redes {
    display: none;
  }
  .menuRedesTablet {
    display: initial;
    position: fixed;
    bottom: 150px;
    margin-right: 640px;
    margin-left: 10px;
    background-color: grey;
    border-radius: 50% !important;
  }
  .menuRedesTablet-galeria {
    display: initial;
    position: sticky;
    bottom: 150px;
    right: 735px;
    background-color: grey;
    border-radius: 50% !important;
  }
  .botonRedesTablet:hover {
    background-color: #592a08;
  }
  .botonRedesTablet {
    border-radius: 50%;
    background-color: grey;
    width: 100%;
    border-radius: 50% !important;
    border-bottom: #d2ccc4;
  }
  .despliegueMenuRedes {
    padding-right: 4px;
    transition: all 0.5s ease-in;
    min-width: auto !important;
    background: none;
    border: none;
  }
  .border-icons {
    border-radius: 50%;
    margin: 5px auto;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 7px 7px 15px #592a08;
  }
  .galeria__copas,
.galeria__vasos,
.galeria__chopps,
.galeria__platos {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 30px;
    margin: 5%;
    width: 90%;
  }
  .qsomos-mobile {
    display: flex;
    flex-direction: column !important;
    margin: 0 auto;
  }
  .cardWidth:hover {
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
