h2 {
  font-family: "Bona Nova", serif;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  text-decoration: underline;
}

p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
  font-family: "Sansita", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
  width: 100%;
}

.tabla-grid {
  display: flex;
  justify-content: center;
  font-size: 180%;
  font-weight: bold;
}

th {
  color: rgba(165, 120, 60, 0.856);
}

.banner-width {
  width: 100%;
  height: auto;
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  color: #000000;
}

.cardWidth:hover {
  transform: scale(1.1);
}

.cardWidth {
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592a08;
  color: #000000;
  margin: 15px;
}

.comprar {
  width: 100%;
  background-color: rgb(41, 177, 41, 0.8);
  font-weight: bold;
  color: #444;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 0.5rem;
  transition: all 1s ease;
  box-shadow: 0.5rem 0.5rem 1rem #ccc, -0.5rem -0.5rem 1rem #fff;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comprar:hover {
  box-shadow: 0.5rem 0.5rem 1rem #fff, -0.5rem -0.5rem 1rem #ccc;
  outline: none;
  cursor: pointer;
  background-color: rgb(41, 177, 41);
}

.comprar:active {
  box-shadow: inset 0.5rem 0.5rem 1rem #fff, inset -0.2rem -0.2rem 1rem #ccc;
  outline: none;
}

.buttonCarrito {
  background-color: transparent;
  border: none;
  margin-left: 50px;
  margin-right: 20%;
}

.buttonStyle {
  background: transparent;
  border: none;
}

.buttonCart {
  background: transparent;
  border: none;
  border-radius: 118px;
  background: #a6a6a6;
  box-shadow: 9px -9px 17px #4e4e4e, -9px 9px 17px #fefefe;
}

.buttonCart:hover {
  box-shadow: 0.5rem 0.5rem 1rem #fff, -0.5rem -0.5rem 1rem #ccc;
  outline: none;
  cursor: pointer;
  color: #444;
  background-color: rgb(172, 172, 172);
  border-color: #000000;
}

.buttonCart:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.buttonCart:active {
  box-shadow: inset 0.5rem 0.5rem 1rem #fff, inset -0.2rem -0.2rem 1rem #ccc;
  outline: none;
  background-color: transparent;
  border-color: transparent;
}

.buttonCart::after {
  content: none;
}

.buttonCart:focus-within {
  background-color: transparent;
  border-color: none;
}

.btn-danger {
  color: black;
  background-color: rgba(255, 0, 0, 0.897);
}

.btn-danger:hover {
  background-color: rgba(255, 0, 0, 0.692);
}

#cartCount {
  color: rgb(5, 255, 5);
  margin-left: 10px;
}

.img-width {
  width: 50%;
}

.cartQuit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-cart {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 15px auto 15px auto;
  justify-content: center;
  align-content: center;
}

.carrito{
  margin-right: 30%;
  margin-left: 100px;
  right: 0;
}

.img-cart{
  width: 50px;
}

.button-emptyCart{
  width: 50%;
}

.width-listCart{
  width: 100%;
}

.center-description{
   display: flex;
   justify-content: center;
 }

.eliminarProducto{
  font-size: 20px; 
}

.eliminarProducto:hover{
  color: rgba(255, 0, 0, 0.767);
}

.buttonCartEmptyView{
  width: 300px;
  text-decoration: none;
  border-style:hidden;
}

#precioTotal{
  font-size: 20px;
}

.totalPrecio{
  font-size: 20px;
  font-weight: bold;
}

.buttonCartNew{
  background: transparent;
  border: 2px solid #eee;
  border-radius: 0.5rem;  
  box-shadow: 0.5rem 0.5rem 1rem #ccc, -0.5rem -0.5rem 1rem #fff;
  outline: none; 
}

.buttonCartNew:hover{
  background: transparent;
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem #fff, -0.5rem -0.5rem 1rem #ccc;
  outline: none;
  cursor: pointer;
  background-color: rgba(95, 102, 95, 0.966); 
}

 .buttonCartNew:focus {  
   background-color: transparent;
   border-color: transparent;
   box-shadow: 0.5rem 0.5rem 1rem #ccc, -0.5rem -0.5rem 1rem #fff;
  outline: none;
 }

 .backgroundCart{
  color: #eee;
  background: #000000fa;
  overflow-y: scroll;
  max-height: 600px; 
 }

 .tableCart{  
  color: #ccc;
  background-color: #000000;
  min-width: 30rem;
  max-height: 600px;  
 }

 .buttonCartNew:focus-within{
  background-color: rgba(95, 102, 95, 0.966);
    border: transparent
 }

 #buttonCartEmptyView{
  color: #b15a5a;
  background-color: #000000;  
  border: solid 1px;
  border-radius: 10px;
  padding: 4px;
 }

 #buttonCartEmptyView:hover{
  background-color: #d62c2c;
  color: #000000;  
  transition: all 0.5s ease-in;
 }

 .rowTable{
  border-bottom-width: 4px !important;
 }

 .colorProductCart:hover{
  background: aliceblue;
 }